body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#h1 {
  text-align: center;
  font-size: 40px;
  color: teal;
  margin-top: -0px;
  margin-bottom: 0px;
}

#h2 {
  color: whitesmoke;
}

#container {
  width: 100%;
  height: 100%;
  display: flex;
}

#formulario {
  width: 30%;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #6fb3b8;
  text-align: center;
  height: fit-content;
  padding-bottom: 30px;
  border-radius: 40px;
}

#recetario {
  width: 70%;
  margin-left: 10px;
}

#containerReceta {
  text-align: left;
  border: 2px teal;
  border-radius: 10px;
  border-style: solid;
  padding: 10px;
  margin-top: 5px;
}

#nombreR {
  font-size: larger;
}

textarea {
  width: 80%;
  height: 80px;
}

.button {
  background-color: teal;
  color: whitesmoke;
  cursor: pointer;
  border: none;
  border-radius: 40px;
  padding: 8px 12px;
}

.button2 {
  margin-top: 10px;
  background-color: whitesmoke;
  color: black;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 40px;
}

.button3 {
  background-color: teal;
  color: whitesmoke;
  cursor: pointer;
  border: none;
  border-radius: 40px;
  padding: 8px 12px;
  margin-left: 10px;
}

.texto {
  color: whitesmoke;
  font-size: larger;
}

#imagen {
  width: 40%;
  margin-top: 5px;
}

#eliminarBtn {
  color: black;
  background-color: lightcoral;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 40px;
}
